@model AllClasses
<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
        <h3>CodingDojo Wall</h3>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li>Welcome</li>
      <li><a href="logoff">Log off</a></li>
    </ul>
  </div>
  <hr>
</nav>
@Html.Partial("Message", @Model.newMessage)


@foreach(var user in Model.allMessages)
{
    <br>
    <p>@user["first_name"] @user["last_name"] -- @user["created_at"]</p>
    <p style="margin-left: 40px">@user["message"]</p>
    // @Html.Partial("Comment", @Model.newComment)

    <form asp-action="CreateComment" asp-controller="Home" method="post" style="margin-left: 40px">
    <div class="form-group">
        <span asp-validation-for="@Model.newComment.comment"></span>
        <textarea type="text" name="comment" id="comment" class="form-control" rows="2"></textarea>
    </div>
        <input type="hidden" name="messages_id" id="messages_id" value='@user["id"]' />

        <input type="submit" class="btn btn-info" value="Add a Comment">
    
    </form>
    
}


